[package]
name = "day08"
version = "0.1.0"
edition = "2024"

[profile.dev]
debug = 0

[profile.release]
strip = true
lto = true
codegen-units = 1
panic = "abort"

[dependencies]
itertools = "0.14.0"
ordered-float = "5.1.0"
